<header>
  <nav>
    <div id="logo">
        <h1>Logo</h1>
    </div>

    <menu>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact Us</a>
      <a href="/users/sign-in">Sign In</a>
      <a href="/users/sign-up">Sign Up</a>
    </menu>
  </nav>
</header>
