<header>
  <nav id="navbar">
    <div id="logo">
      <h1>Logo</h1>
    </div>
    <ul id="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="/users/sign-in">Sign In</a></li>
      <li><a href="/users/sign-up">Sign Up</a></li>
      <div id="profile"></div>
    </ul>
  </nav>
</header>

<script>
  var prevScrollpos = window.pageYOffset;
  window.onscroll = function () {
    var currentScrollPos = window.pageYOffset;
    if (prevScrollpos > currentScrollPos) {
      document.getElementById("navbar").style.top = "0";
    } else {
      document.getElementById("navbar").style.top = "-70px";
    }
    prevScrollpos = currentScrollPos;
  };
</script>
