<h1>Sign In</h1>
<form action="/users/create-session" method="post">
  <input type="email" name="email" id="email" required placeholder="Enter email"/>
  <input type="password" value="" required placeholder="Enter password"/>
  <button type="submit">Sign In</button>
</form>
