header {
    padding: 0;
}

#navbar {
    align-items: center;
    display: flex;
    top: 0;
    position: fixed;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
    width: 100%;
    padding: 0 20px;
    justify-content: space-between;
}



#logo h1 {
    margin: 0;
    font-size: 24px;
}

#menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0 20px;
    align-items: center;
}

#menu li {
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    text-decoration: underline;
}

#profile {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 40%;
    margin: 5px 15px 5px 5px;
}