nav {
    display: flex;
    top: 0;
    position: fixed;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
    width: 100%;
    padding-left: 3%;
}

#logo {
    width: 50%;

}

menu {
    padding-right: 3%;
    display: flex;
    width: 50%;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}